[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
hypothesis = "*"
mkdocs = "*"
mknotebooks = "*"
markdown-include = "*"
mkdocs-material = "*"
pre-commit = "*"
pymdown-extensions = "*"
pytest = "*"
black = "==22.6.0"
flake8 = "==4.0.1"
isort = "==5.12.0"
tox = "==3.25.1"
pytest-cov = "*"

[requires]
python_version = "3.8"
