[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
hypothesis = "*"
mkdocs = "*"
tox = "*"
mkdocs-material = "*"
mknotebooks = "*"
markdown-include = "*"
pymdown-extensions = "*"
isort = "*"

[requires]
python_version = "3.8"
