[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
flake8 = "*"
hypothesis = "*"
isort = "*"
mkdocs = "*"
mknotebooks = "*"
markdown-include = "*"
mkdocs-material = "*"
pre-commit = "*"
pymdown-extensions = "*"
pytest = "*"
tox = "*"

[requires]
python_version = "3.8"
